.shopkeeper-list {
  .inline-form-label {
    margin-right: 1rem;
    font-weight: bold;
  }

  .form-group {
    margin-right: 2rem;
  }

  .form-inline {
    width: 100%;
  }

  .card-col {
    width: calc(33% - 30px);
    margin-left: 15px;
    margin-right: 15px;
  }
}

.table > tbody > tr > td {
  vertical-align: middle;
}

table {
  thead {
    th {
      text-transform: uppercase;
      // text-align: center;
    }
  }
  td {
    // text-align: center;
    button {
      margin: 5px;
    }
  }
}

// .product-row {
//   cursor: pointer;
//   .action-links {
//     a:first-child {
//       margin-right: 1rem;
//     }
//   }
//   &:hover {
//     .action-links {
//     }
//   }
// }

.suggests-container {
  position: relative;
  .suggests {
    position: absolute;
    background-color: #fff;
    left: 0;
    right: 0;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    margin-bottom: 1rem;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    .suggest {
      padding: 8px 20px;
      cursor: pointer;
      &:hover {
        background-color: #f3f3f3;
      }
    }
  }
}
