$accent-color: #4472ca;

/* HSL */
$color1: hsla(222%, 88%, 33%, 1);
$color2: hsla(219%, 56%, 53%, 1);
$color3: hsla(226%, 69%, 63%, 1);
$color4: hsla(219%, 82%, 76%, 1);
$color5: hsla(203%, 33%, 86%, 1);

/* RGB */
$color1: rgba(10, 54, 157, 1);
$color2: rgba(68, 114, 202, 1);
$color3: rgba(94, 124, 226, 1);
$color4: rgba(146, 180, 244, 1);
$color5: rgba(207, 222, 231, 1);
