@import 'components/App/vars.scss';

header {
  h1 {
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1.4;
  }
}

.home-header {
  background: url('../../assets/img/header-background-blue.jpg') 50% 90%;
  background-size: cover;
  p {
    color: rgba(255, 255, 255, 0.85);
  }
}

.page-header {
  h1 {
    text-shadow: 3px 3px 1px rgba(0, 0, 0, 0.2);
    small {
      display: block;
      font-size: 30px;
      text-transform: none;
    }
  }
}

.header-bg {
  background: url('../../assets/img/handshake.jpg');
  background-size: cover;
  background-position: center;
  padding: 3em 0;
}
