nav {
  padding: 1rem !important;
  .nav-link {
    padding: 0.5rem 1rem !important;
  }
  background-color: rgba(68, 114, 202, 1);
  .dropdown-menu {
    background-color: rgba(68, 114, 202, 1);
    border: none;
  }
  a {
    color: #fff;
  }
}

@media screen and (min-width: 992px) {
  .dropdown-menu {
    right: 0;
    left: auto;
  }
}
